<section class="section brd-btm" id="basic_info">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin text-muted">基本信息</h2>

            <dl class="dl-horizontal clear-mrg">
                <dt class="text-upper">性别</dt>
                <dd>男</dd>

<!--                <dt class="text-upper">Gitee</dt>-->
<!--                <dd>20 Feb 1999</dd>-->

<!--                <dt class="text-upper">手机</dt>-->
<!--                <dd>**</dd>-->

                <dt class="text-upper">e-mail</dt>
                <dd><a style="text-decoration:none;color:#666666" href="mailto:array_xiangxiang@163.com">arrayxiangxiang@gmail.com</a></dd>

            </dl>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->