<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">工作经历</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2021-07TNow">
                        <span>2021年 <strong class="text-upper"> 9月</strong> - <strong> 至今 </strong></span>
                    </time>
                    <h3>Java 工程师</h3>
                    <span class="education-company">昆仑健康保险股份有限公司</span>
                    <p>1.担任数据治理体系总架构师，主导制定企业级数据同步标准（CDC规范/消息幂等性保障/断点续传机制），完成日均20TB+数据资产的全生命周期管理</p>
                    <p>2.设计高可用数据基础设施，构建基于Hadoop生态的数据湖治理体系，实现PB级数据资产跨业务线共享，数据查询响应速度提升8倍</p>
                    <p>3.参与技术中台建设，完成从微服务治理（SpringCloud+Nacos）到大数据计算（Flink实时计算+ClickHouse OLAP）的全栈技术选型</p>
                    <p>4.牵头实施国家级容灾工程，设计同城双活+异地异步混合灾备架构，实现核心系统RPO≤5分钟、RTO≤15分钟的金融级容灾标准</p>
                    <p>5.建立研发效能体系，落地GitLab CI/CD全流程工具链，实现从代码提交到生产发布的分钟级自动化流水线（发布效率提升70%）</p>
                </div>
                <!-- .education-box -->

                <div class="education-box">
                    <time class="education-date" datetime="2019-11T2021-07">
                        <span>2020年 <strong class="text-upper"> 9月 </strong>  - 2021年 <strong> 9月 </strong></span>
                    </time>
                    <h3>Java 工程师</h3>
                    <span class="education-company">吉贝克信息技术（北京）有限公司</span>
                    <p>1.负责金融保险行业数据上报EAST系统的全面研发，包括核心功能实现及个性化需求定制。</p>
                    <p>2. 设计并实施系统性能优化方案，通过JVM内存调优、SQL执行计划分析及缓存集群部署，将数据处理能力提升300%，系统可用性达到99.99%的金融级标准。 </p>
                    <p>3. 主导完成6家金融机构的现场实施，解决包括数据加密传输（SSL/TLS）、监管报文规范校验等关键技术问题，实施成功率达100%。</p>
                    <p>4. 牵头技术文档体系建设，产出包括系统架构白皮书、API接口规范等23份技术文档，主持完成10场次客户技术团队培训，培养系统管理员超100人。</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- .section -->
