<section class="section brd-btm" id="me">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">个人介绍</h2>

            <div class="ref-box hreview">

                <div class="ref-info">

                    <blockquote class="ref-cont clear-mrg">
                        <p>热爱钻研，从大一开始使用阿里云服务器建站、搭建真实集群环境，使用所学技术应用到生活中，目前在家中搭建物理服务器，使用公网IP对外提供服务。
                        </p>
                        <p>独立担当，大学期间通过自学的Java和PhotoShop，兼职赚取大学所有学费及生活费。
                        </p>
                        <p>喜欢创作，热爱坚持，至今写了7年日志，总结生活、规划未来。内容发布到个人创建公众号和博客等平台。
                        </p>
                        <p>忠爱互联网行业，喜欢用所学技术帮助生活，让技术为生活服务，梦想创建属于自己的贾维斯（钢铁侠），成为科技型上市公司CTO。
                        </p>
                    </blockquote>
                </div>
            </div>



        </div><!-- .col-sm-6 -->


    </div><!-- .row -->
</section><!-- .section -->
