<section class="section brd-btm" id="project">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">项目经验</h2>

            <div class="ref-box hreview">


                <div class="ref-info">
                    <!--<img src="{{ '/styles/img/projectImg.png' | prepend: site.baseurl }}" alt="">-->
                    <div class="ref-author">
                        <strong style="font-size: large">EAST监管报送系统（三期工程）</strong>
                        <span>2020年9月 - 至今（一期  5个月）</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>简介：监管要求定期采集业务数据进行上报，特点是海量数据，核心功能有数据采集、校验、脱敏、报文生成，通过集成企业OA、钉钉、企业微信为报送流程赋能。
                        </p>
                        <p>技术：SpringBoot负载均衡架构，MyBatis、JPA、JdbcTemplate ORM技术，前端使用JQuery、Freemark、LayUI、Fullcalendar日历组件，工作流引擎使用Activity，数据处理工具DataX、Sqluldr、sqldump等，Quartz做定时任务，Oracle、MySQL 、Postgre多类型数据库应用。
                        </p>
                        <p>负责：
                        <ul style="font-size: small">
                            <li>1. 一期、二期的核心功能前后端开发，数据库字段、字典设计，业务流程设计。
                            </li>
                            <li>2. 分析监管需求和各保险公司客户的个性化需求，通过整合需求获取用例，分析优先级进行结构化开发。
                            </li>
                            <li>3. 抽取公共模块作为父模块，子模块为各个不同客户公司，使用Git进行管理，相互独立又形成依赖。
                            </li>
                            <li>4. 采集模块，对大文件采用流处理技术；POI技术生成包含图表附件等多种新特性的PPT、World、Excel。
                            </li>
                            <li>5. 多线程进行校验、脱敏，后续提升脱敏效率改造为使用 Sqluldr、sqldump 工具，读文本效率比读数据库快很多，最后优化为DataX，可对接多种数据库。通过调整JVM参数有效提升效率。
                            </li>
                            <li>6. 三期，优化系统自动化流程，提升企业报送效率，减少运维工作量。报送流程同步企业OA、通过对接钉钉和企业微信对指定用户发送消息和待办。
                            </li>
                        </ul>
                        </p>
                    </blockquote>
                </div>
            </div>


            <div class="ref-box hreview">

                <div class="ref-info">
                    <div class="ref-author">
                        <strong style="font-size: large">大数据中台</strong>
                        <span>2022年1月 - 至今</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>简介：B2B企业级数据中台，SaaS、PASS架构，作为各部门数据汇聚层，负责部门与部门、企业与中介机构之间的数据接入与接出
                        </p>
                        <p>技术：SpringCloudAlibaba分布式微服务架构，涉及服务治理技术包括 Nacos、Feign、Hysttrix、Ribbon、Dubbo、ZipKin、Skywalking，消息队列 Kafka 处理实时、准实时数据。Seata分布式事务、Redis分布式锁确保临界资源数据一致性。引入Minio、腾讯云等对象存储服务。对接大数据应用，Hive数据库、ClickHouse数据库，调度由Infomatic和DolphinScheduler分布式调度中心实现。Selenium 、DrissionPage  Web自动化。DevOps持续集成与交付。
                        </p>
                        <p>负责：
                        <ul style="font-size: small">
                            <li>1. 对平台 Gateway 网关服务改造，自定义配置路由规则，对所有通过网关的请求进行日志分级存档，重要业务日志通过ELK采集分析。
                            </li>
                            <li>2. OA系统对接本系统实现审批后自动化任务，例如 开通VPN、离职关闭权限等
                            </li>
                            <li>3. 业务实时、准实时数据通过 Kafka 进行消费，涉及到企业外部资源也都考虑kafka作为中间件。
                            </li>
                            <li>4. 通过引入大数据服务组件，实现海量数据处理能力。DolphinScheduler发起调度，将存储在Oracle数据通过sqoop同步到HiveODS层，通过DWD、DWS、ADS加工，通过DataX同步到ClickHouse，供BI数据平台查询。
                            </li>
                            <li>5. 分布式调度 Infomatic，处理每日增量、全量数据，对需要保留历史轨迹通过拉链表实现。每日实时监控分析也从这个调度中心触发。
                            </li>
                            <li>6. 通过Selenium 、DrissionPage 完成Web自动化操作、抓取页面信息、截图进行持久化、消息推送.
                            </li>
                            <li>7. 开发多数据源、数据集，实现配置化获取数据仓库的数据，类似API-JSON，提供RestFull接口，通过调度将数据以二进制存储，SFTP推送。也支持反向通过接口、文件写入数据库。
                            </li>
                            <li>8. DevOps方面，搭建Jenkins、Nexus环境，集成数据中台实现自动化构建，通过对象存储实现自动化部署，Prometheus探测服务健康，实现所有系统的上线发版、版本回退。建立完善版本控制机制。
                            </li>
                        </ul>
                        </p>
                    </blockquote>
                </div>
            </div>

            <div class="ref-box hreview">

                <div class="ref-info">
                    <div class="ref-author">
                        <strong style="font-size: large">统一数据平台BI</strong>
                        <span>2022年1月 - 至今</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>简介：企业商业智能报表，Pass架构，面向全体人员，包括销售、业务、高层领导，通过关键绩效指标，基于分析结果，提供洞察与决策。提供投保、保全、续期、企划、运营、风险、销管、审计、资产、运维等公司全方位分析。支持复杂表格设计、鼠标拖拽维度分析，表单填报数据回填。
                        </p>
                        <p>技术：SpringBoot单体式架构，兼容十几种数据库，基于CAS实现单点登录，完成对多个子系统的鉴权能力。依据平台能力实现多个标准化规范，包含数据接入接出、调度监控、系统监控。
                        </p>
                        <p>负责：
                        <ul style="font-size: small">
                            <li>1. 基于平台开发业务报表，分析ALM任务清单，对研发进度进行预警，提取各组别开发阶段的工作量，跟踪项目交付进度，统计BUG情况等涉及信息技术部各组管理层指标的展示。
                            </li>
                            <li>2. “两高一弱”工程针对漏洞的漏洞进行修复，不仅限于当前系统。
                            </li>
                            <li>3. 提取Prometheus系统监控数据，提取Infomatic、DolphinScheduler元数据解析实现系统、调度监控，对这些监控类设计表结构和存储方式，最后推送钉钉、短信预警。
                            </li>
                            <li>4. sqllineage 分析所有报表逻辑血缘关系，通过 DataHub 进行展示，显示字段级别的加工过程，提高数据组研发效率。
                            </li>
                            <li>5. 内嵌接口以实现复杂的逻辑算法，例如 IRR（收益率）、Rentention Rate（继续率）、NPV（净现值），填补数据加工缺陷。
                            </li>
                            <li>6. 调整JVM参数，使其减少STW。
                            </li>
                        </ul>
                        </p>
                    </blockquote>
                </div>
            </div>

            <div class="ref-box hreview">
                <div class="ref-info">
                    <div class="ref-author">
                        <strong style="font-size: large">律师门户网站</strong>
                        <span>2022年7月-2022年8月</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>简介：企业知识门户网站，较好的SEO优化，初始化加载快，律师模块展示合伙人律师、各部门首席律师、其他律师信息，案例学习模块展示近期案例和优秀、典型案例，用户可以评论，提交问题、提交电话等信息，通过链接添加客服企微。上线后，百度搜索“山西科宪”网站链接在第一页显示，搜索“科宪律所”出现在前三。
                        </p>
                        <p>技术：独立完成；SpringBoot前后端分离架构，MySQL数据库，用户埋点统计PV、UV，接入百度搜索平台，百度地图API，响应式前端。首页使用原生HTML+Jquery，后台管理系统基于Saber二次开发采用Vue技术，DevOps基于Jenkins完成1个后段，2个前端自动化构建部署。
                        </p>
                        <p>改造策略：
                            <ul style="font-size: small">
                                <li>将原第三方的 jar 包进行封装，统一命名和管理改造，废弃一部分第三方框架 jar
                                </li>
                                <li>持久层框架修改为 Mybatis，规范 SQL ，数据库表结构不做改变
                                </li>
                                <li>根据前端提供的页面开发 controller 层
                                </li>
                                <li>算法和逻辑做平移
                                </li>
                                <li>测试每个页面、每个接口功能是否正常，整体业务测试走通、修复bug
                                </li>
                            </ul>
                        </p>

                        <p>改造的整个过程我全程参与，主要负责系统管理、字典映射、数据查验模块的翻新工作
                        </p>
                    </blockquote>
                </div>
            </div>

            <div class="ref-box hreview">

                <div class="ref-info">
                    <div class="ref-author">
                        <strong style="font-size: large">EAST 监管报送平台</strong>
                        <span>2019年11月-2021年7月</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>简介：国家银保监监管要求，各保险机构上报数据，面向各保险机构招标。报送周期日报、月报，报送范围有全量和增量。<strong>其中全量数据可达数十亿条，增量数据不低于千万条。</strong>大量数据经过Java程序进行校验、脱敏等加工流程，最终以压缩文件形式上传指定到SFTP服务器，银保监会会在一段时间后反馈报送结果。
                        </p>
                        <p>技术：SpringCloud、SpringMVC、Mybatis、MySQL、Oracle、Weblogic、DataX、Sqluldr、sqldump、activity、LayUI
                        </p>
                        <p>从实习做到核心研发，负责数据校验、脱敏、报送模块，数据库表字段设计，前后端开发，搭建jenkins实现产品自动化部署，开发报表系统，搭配POI将数据转换为Word、Excel、CSV、可以以柱状图、折线图、饼图的形式展现在PPT中。为优化报送速率，调试JVM参数、线程池、连接池、数据库配置、服务器配置等多种底层服务参数，对大文件的读取和压缩进行优化。参与设计、研发、客户场地部署、产品讲解等各类工作。
                        </p>
                    </blockquote>
                </div>
            </div>


            <div class="ref-box hreview">

                <div class="ref-info">
                    <div class="ref-author">
                        <strong style="font-size: large">医疗人力资源绩效管理系统 </strong>
                        <span>2020年11月-2021年7月</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>简介：为医院提供完善的人力资源管理功能，为每个员工建立详尽的人事档案。分配各个科室病房医生护士的资源，管理病房病床、病种、药品，分析绩效考勤。
                        </p>
                        <p>技术：SpringCloud、Mybatis-Plus、Nacos、MySQL、Redis、Vue、ElementUI
                        </p>
                        <p>使用开源框架，独立开发实现前后端各模块，使用开源框架，敏捷式快速搭建项目，实现科室、人事、考勤、绩效、职称审批、合同、月末结账等管理模块。使用 Ecarts、 FullCalendar 等前端技术将数据可视化。
                        </p>
                    </blockquote>
                </div>
            </div>


            <div class="ref-box hreview">

                <div class="ref-info">
                    <div class="ref-author">
                        <strong style="font-size: large">银行大额报送</strong>
                        <span>2020年4月-2020年12月</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>简介：中银富登银行需求，针对大额交易进行上报，个人大于20万，企业大于200万的数据加密后切片装载至XML文件进行上报
                        </p>
                        <p>技术：Spring、Mybatis、Oracle
                        </p>
                        <p>主要负责存储过程编写、数据转换为XML进行压缩。因为银行内网系统和外网是隔离的，只能通过不大于1M的邮件单向传递，环境搭建比较困难。
                        </p>
                    </blockquote>
                </div>
            </div>


            <div class="ref-box hreview">

                <div class="ref-info">
                    <div class="ref-author">
                        <strong style="font-size: large">贾维斯 (开源)</strong>
                        <span>2018-至今</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>简介：这是我个人自行搭建的服务，供我个人学习，提供便捷服务，从大二最初的单体服务到现在共19个微服务的分布式应用  gateway 网关、auth 权限、system 系统、user 用户、log 日志、resource 资源（短信、邮箱、对象存储）、Job 调度、Flow 工作流、develop 开发（代码生成、数据源、数据同步）、blog 博客、Manage 管理、pusher 推送、stock 股市分析、admin、zipkin、turbine 等多个微服务治理
                        </p>
                        <ul style="font-size: small">
                            <li>家庭卫士 602，通过微信提醒室友打扫出租屋内卫生，每天倒垃圾、每周大扫除
                            </li>
                            <li>该喝水了微信小程序，定时提醒喝水服务、情侣纪念日等微信推送服务
                            </li>
                            <li>股市分析，爬取百度股票信息，对股票数据进行学习推导，研究过自然语言
                            </li>
                            <li>自我管理，两个维度：时间、金钱，时间方面针对苹果系统的日历进行解析，分析日常活动占用时间，计算每周花销，最后总结推送
                            </li>
                            <li>博客，技术文章管理，网站埋点，获取来访用户地区、IP等信息，学习过网络攻防，了解常用的Web渗透技术。
                            </li>
                        </ul>
                        <p>在21、22年左右购买了多台阿里云服务器实现真实集群环境。被攻击过、黑过，数据库数据被劫持过。在安全和微服务方面有极大提升。
                        </p>
                    </blockquote>
                </div>
            </div>


        </div><!-- .col-sm-6 -->


    </div><!-- .row -->
</section><!-- .section -->
