<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">教育经历</h2>

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/school1.png' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>江西软件职业技术大学</strong>
                        <span>2017 - 2020 | 软件技术</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>荣获国家奖学金、国家励志奖学金、江西省蓝桥杯三等奖2次、校级证书若干，大一大二学科成绩专业第一
                        </p>
                        <p>在校担任校团委组织部部长、学生会主席、班团支书，承上启下，多次联合校外企业赞助学校活动、完善规章制度、设计活动方案
                        </p>
                    </blockquote>
                </div>
            </div>
            <br/>
            <br/>
            <div class="ref-box hreview">

                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/school2.png' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>江南大学</strong>
                        <span>2021 - 至今 | 计算机科学与技术</span>
                    </div>
                </div>
            </div><!-- .ref-box -->
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->