<section class="section brd-btm" id="profetional">
    <div class="row">
        <div class="clear-mrg">
            
            <h2 class="title-thin text-muted">职业技能</h2>



            <div class="ref-box hreview">

                <div class="ref-info">
                    <p style="color:#969696">&emsp;&emsp;3年Java开发经验，其中2年微服务系统开发设计经验，具有分布式、高并发、高可用、大数据量的系统研发经验。同时具备扎实的技术功底，对JVM、Spring、Mybatis等开源框架核心源码有过研究</p>

                    <blockquote class="ref-cont clear-mrg">
                        <p>熟悉 Spring、SpringMVC、MyBatis、SpringBoot、SpringCloud 后端开源框架
                        </p>
                        <p>了解 Vue、JQuery、Freemaker、微信小程序 前端技术
                        </p>
                        <p>熟悉 MySQL、Oracle、Redis 数据库，了解 RabbitMQ 消息队列
                        </p>
                        <p>熟悉 Linux 系统，Docker 容器化部署，了解 CI/CD 自动化构建部署，对 k8s 控制台有一定基本使用
                        </p>
                        <p>对批量数据处理有独到的见解，熟悉 Datax、sqldump、sqluldr 数据同步工具，了解 Hadoop、Flink 大数据相关工具
                        </p>
                    </blockquote>
                </div>
            </div>


        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->