<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">教育经历</h2>

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/school1.png' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>江西软件职业技术大学</strong>
                        <span>2017 - 2020 | 软件技术</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>荣获国家奖学金（2019）、国家励志奖学金（2018）、省蓝桥杯三等奖2次、校级证书若干
                        </p>
                        <p>大一、大二专业成绩排名第一，GPA：3.99/4.00
                        </p>
                        <p>在校担任校团委副书记、学生会主席、团支书，担任校ACM队长，多次带队参加icpc、蓝桥杯等比赛
                        </p>
                    </blockquote>
                </div>
            </div>
            <div class="ref-box hreview">

                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/school2.png' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>江南大学</strong>
                        <span>2021 - 2024｜计算机科学与技术</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>工科学士学位
                        </p>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->
