<section class="section brd-btm" id="profetional">
    <div class="row">
        <div class="clear-mrg">
            
            <h2 class="title-thin text-muted">职业技能</h2>

            <div class="ref-box hreview">
                <div class="ref-info">
                    <blockquote class="ref-cont clear-mrg">
                        <p>有较好的 Java 基础和良好的编码习惯
                        </p>
                        <p>掌握 Spring、SpringMVC、MyBatis、SpringBoot、SpringCloud 等开源框架，熟练运用整合
                        </p>
                        <p>掌握 JQuery、Layui、Freemaker、Vue 等前端技术
                        </p>
                        <p>掌握使用主流数据库如 Oracle、MySQL、Redis，掌握 SQL 调优，有大数据开发经验
                        </p>
                        <p>熟练运用 Linux 系统，熟悉 docker、RabbitMQ、Kafka、solr、ElasticSearch、shiro、Zookeeper 等技术，了解 CI&DI
                        </p>
                        <p>熟悉常用设计模式，具有独立完成中小型项目的能力，具备架构思维
                        </p>
                    </blockquote>
                </div>
            </div>


        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->