<section class="section brd-btm" id="profetional">
    <div class="row">
        <div class="clear-mrg">
            
            <h2 class="title-thin text-muted">职业技能</h2>

            <div class="col-sm-6 clear-mrg">

                <dl class="dl-horizontal clear-mrg">
                    <dt class="text-upper">性别</dt>
                    <dd>男</dd>

                    <dt class="text-upper">出生日期</dt>
                    <dd>20 Feb 1999</dd>

                    <!--                <dt class="text-upper">手机</dt>-->
                    <!--                <dd>**</dd>-->

                    <dt class="text-upper">e-mail</dt>
                    <dd><a href="mailto:array_xiangxiang@163.com">array_xiangxiang@163.com</a></dd>


                    <dt class="text-upper">1、比如说这个那个的</dt>

                    <dt class="text-upper">1、比如说这个那个的</dt>

                    <dt class="text-upper">1、比如说这个那个的</dt>

                    <dt class="text-upper">1、比如说这个那个的</dt>

                </dl>
            </div>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->