<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">工作经历</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2016-01TNow">
                        <span>May <strong class="text-upper">2021</strong> - <strong>Now</strong></span>
                    </time>
                    <h3>Java 开发工程师</h3>
                    <span class="education-company">北京智数云科信息技术有限公司</span>
<!--                    <p>使用技术为struts, hibernate, spring等等</p>-->
<!--                    <p>负责项目中服务开发</p>-->
<!--                    <p>参与部分需求调研</p>-->
<!--                    <p>。。。</p>-->
                </div>
                <!-- .education-box -->

                <div class="education-box">
                    <time class="education-date" datetime="2014-09T2016-01">
                        <span>Nov <strong class="text-upper">2020</strong>  - May <strong>2021</strong></span>
                    </time>
                    <h3>Java 开发工程师</h3>
                    <span class="education-company">吉贝克信息技术（北京）有限公司</span>
<!--                    <p>使用技术为struts, hibernate, spring等等</p>-->
<!--                    <p>负责项目中服务开发</p>-->
<!--                    <p>参与部分需求调研</p>-->
<!--                    <p>。。。</p>-->
                </div>
            </div>
        </div>
    </div>
</section><!-- .section -->