<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">工作经历</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2021-07TNow">
                        <span>2021 <strong class="text-upper"> 7月</strong> - <strong> 至今 </strong></span>
                    </time>
                    <h3>Java 工程师</h3>
                    <span class="education-company">北京随创科技有限公司</span>
                    <p>历经3次大裁员，于23年3月加薪50%</p>
                    <p>公司科技部设立 基础运维、数据管理、应用研发、测试 一共四个组，我作为数据管理组技术负责人</p>
                    <p>参与公司信息化架构，主导设计研发多个系统，对数据同步、消息通信建立规范化标准。承接业务部门需求，安排数据组其他开发同事的工作</p>
                    <p>主导搭建DevOps自动化构建环境、Grafana+Prometheus监控系统建设，参与Hadoop、Hive、DolphinScheduler、ClickHouse 大数据平台建设</p>
                    <p>参与国家主导企业实施的“两高一弱”、“灾备演练”工程，该工程历时1年</p>
                </div>
                <!-- .education-box -->

                <div class="education-box">
                    <time class="education-date" datetime="2019-11T2021-07">
                        <span> 2020 <strong class="text-upper"> 9月 </strong>  - 2021 <strong> 7月 </strong></span>
                    </time>
                    <h3>Java 工程师</h3>
                    <span class="education-company">吉贝克信息技术（北京）有限公司</span>
                    <p>研发金融保险行业数据上报EAST系统，负责核心功能、个性化需求开发，对系统性能进行深度优化</p>
                    <p>客户机构驻场实施、问题排查、产品宣讲、系统培训 </p>
                </div>
            </div>
        </div>
    </div>
</section><!-- .section -->
