<section class="section brd-btm" id="certification">

    <h2 class="title-thin text-muted">获得证书 <a id="openCertification"> 》展开</a></h2>

    <div class="row" id="myCer" style="display: none">
        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/certificate/pic1.jpg' | prepend: site.baseurl }}" alt="">
                </figure>

                <h3 class="award-title">国家励志奖学金</h3>
            </div>
        </div>
        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/certificate/pic2.jpg' | prepend: site.baseurl }}" alt="">
                </figure>

                <h3 class="award-title">国家奖学金</h3>
            </div>
        </div>
        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/certificate/zheng.jpg' | prepend: site.baseurl }}" alt="">
                </figure>

                <h3 class="award-title">智能楼宇管理员</h3>
            </div>
        </div>
        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/certificate/pic3.jpg' | prepend: site.baseurl }}" alt="">
                </figure>

                <h3 class="award-title">蓝桥杯证书</h3>
            </div>
        </div>
        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/certificate/aliyun1.jpg' | prepend: site.baseurl }}" alt="">
                </figure>

                <h3 class="award-title">阿里云认证 API</h3>
            </div>
        </div><!-- .col-sm-6 -->

        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/certificate/aliyun2.png' | prepend: site.baseurl }}" alt="">
                </figure>

                <h3 class="award-title">阿里云认证 ECS</h3>
            </div>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
    <script>
        var open = document.getElementById('openCertification')
        open.onclick = function (){
            var my = document.getElementById('myCer');
            let status = my.getAttribute("style");
            if (status === "display: none"){
                my.setAttribute("style","display: block")
            }else{
                my.setAttribute("style","display: none")
            }
        }
    </script>
</section><!-- .section -->