<section class="section brd-btm" id="project">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">项目经验</h2>

            <div class="ref-box hreview">

                <div class="ref-info">
                    <div class="ref-author">
                        <strong style="font-size: large">保单登记平台</strong>
                        <span>2022年9月-2023年1月</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>中国银保监会对各保险公司保险保单的数据监管，大数据量发送请求报送报文，定时、自动化完成系列复制流程：查验、抽数、校验、报送，功能模块组件化
                        </p>
                        <p>技术框架：SpringBoot、MyBatis-plus、Vue、Oracle、DataX 等
                        </p>
                        <p>项目责任：作为项目负责人，带领7人团队0-1实现团队组建招聘、技术选型、框架搭建、架构设计、需求沟通与再沟通，开发、测试、上线、运营等完整经历。
                        </p>
                    </blockquote>
                </div>
            </div>


            <div class="ref-box hreview">

                <div class="ref-info">
                    <div class="ref-author">
                        <strong style="font-size: large">数据交换平台</strong>
                        <span>2021年8月-2022年4月</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>基于微服务构建的大数据存储平台，通过集成海量数据来源、统一接口、隔离加密、标签化，实现消息快速消费。
                        </p>
                        <p>技术框架：SpringCloud、SpringBoot、Mybatis-plus、Redis、Kafka、zookeeper、Oracle、MySQL
                        </p>
                        <p>项目责任：数据源接入管理、数据解析、内外部数据输出、数据持久化。嵌入quartz定时调度，先后嵌入 xxl-job、DolphinScheduler 调度工具
                        </p>
                    </blockquote>
                </div>
            </div>

            <div class="ref-box hreview">

                <div class="ref-info">
                    <div class="ref-author">
                        <strong style="font-size: large">EAST 监管报送平台</strong>
                        <span>2019年11月-2021年7月</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>按照监管数据标准要求。完成检查分析系统所需数据，整理、报送等工作。报送周期包括但不限于日报、月报，报送范围有全量和增量报送。<strong>其中全量数据可达十亿条，增量数据不低于千万条。</strong>
                        </p>
                        <p>技术框架：Spring、SpringMVC、Mybatis、Oracle、Weblogic、DataX、Sqluldr、sqldump、activity、Echarts
                        </p>
                        <p>负责项目：数据校验、脱敏、报送模块，数据库表字段设计，前后端开发，搭建jenkins实现产品自动化部署，开发报表系统，搭配POI将数据与文档结合。
                        </p>
                    </blockquote>
                </div>
            </div>

            <div class="ref-box hreview">
                <div class="ref-info">
                    <div class="ref-author">
                        <strong style="font-size: large">医疗人力资源管理系统</strong>
                        <span>2020年12月-2021年4月</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>为医院提供完善的人力资源管理功能，为每个员工建立详尽的人事档案。分配各个科室病房医生护士的资源，分析绩效考勤。
                        </p>
                        <p>技术框架：SpringCloud、Mybatis-Plus、Nacos、MySQL、Redis、Vue、ElementUI
                        </p>
                        <p>负责项目：独立开发实现前后端各模块，使用开源框架，敏捷式快速搭建项目，实现考科室、人事、考勤、绩效、职称审批、合同、月末结账等管理模块。使用 Ecarts、 FullCalendar 等前端技术将数据可视化。
                        </p>
                    </blockquote>
                </div>
            </div>

        </div><!-- .col-sm-6 -->


    </div><!-- .row -->
</section><!-- .section -->